
@mixin bg-img($url){
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.frente{

    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url("../images/6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45.125rem;
    display: block;
    height: 48.25rem; /*declaro un height de 100vh y un máximo por si las pantallas son de menor altura como tablets en horizontal*/
    max-height: 50rem;
    header{
        margin: auto;
        width: 100%;
        /* background-color: aqua;     */
    }
    .front{
        /* background-color: #900C3F;   */
        /* padding: -6.25rem; */
        
        width: 100%;
     
        /* color: white; */
           
        font-size: 6.25rem;
       
        display: grid;
        grid-template-columns: 43.75rem; /*declaro que mi grid tiene una sola columna y es de 43.75rem*/
        grid-template-rows: 25rem 5.625rem;
        /* flex-direction: column; */
        justify-content: flex-start;
        justify-items: center;
        align-items: center;
        
        .front__imagenfondo{
 
            height: 40%;
            // background-color: blue; 
            opacity: 0.7;
            text-align: center;}
            margin: 0px;
        div{
            margin-top: -80px;
            .front__title{
                /* background-color: chartreuse; */
                color: rgba(255,255,255,.8);
                /* margin-top: -9.375rem; */
                font-family: 'Times New Roman', Times, serif;
                font-weight: 400;
                font-size: 4.375rem;
                text-align: center;
            
            }
            .front__txt{
                margin: 0px;
                // background-color: aqua;
                font-size: 40px;
                color: white;
                opacity: 0.6;
                padding-left: 90px;
                // padding-top: 150px;
                font-weight: 400;
                font-family: 'Dancing Script', cursive;
            }
        }
        
    }

}
