*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @media screen and (max-width: 1120px){    
   
        font-size: 14px;
    }
    @media screen and (max-width: 992px) {
        
          font-size: 11px;
          
        }
    @media screen and (max-width: 768px){
          
                font-size: 12px;
            }
    @media screen and (max-width: 480px){
              
                    font-size: 8px;
                }  
             
              
    body{
   


                font-family: 'Roboto', sans-serif;
                /* color: gray; */
                /* background-color: #900C3F; */
                h1{
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 3.125rem;
                    color: #900C3F;
                    padding: 20px;
                }
                
               
            }    

}



