    
    header{
        width: 100%;
        background-color: black;
    }
    
    .menu__logo{
        height: 65px;
        opacity: 0.7;
    }

    .collapse{
        text-align: center;
      }
    // .menu__items{ 
    //     li{
    //     display: inline-block;
    //     list-style: none;
    
    //     a{
    //         text-decoration: none;
    //         color: white;
    //         opacity: 0.6;
    //         padding: 0rem 0.75rem;
    //         }
    //     a:hover{
    //             text-decoration: none;
    //             color: #900C3F ;
    //             }
        
    // }}
   





